.btn {
  color: white;
  font-weight: 500;
}


.btn-procedimentos {
  background: #9BF798;
  box-shadow: -1.0e-15px 9px 18px rgba(155, 247, 152, 0.7);
  border-radius: 50px;
  width: 150px;
  height: 40px;
  color: black;
  font-weight: 500;
}

/* Media query for screens with a maximum width of 640px */
@media (max-width: 640px) {
  .btn-procedimentos {
    width: 90px;
    font-size: 10px;
  }
}